.container {
  position: relative;
  max-width: 60%;
  margin: 40px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  .newPageForm {
    max-width: 90%;
    margin: 15px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    input[type='text'] {
      width: 95%;
      font-size: 16px;
      padding: 10px;
      margin-bottom: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 10px;
    }
    textarea {
      width: 95%;
      max-width: 98%;
      min-width: 90%;
      min-height: 170px;
      height: 200px;
      font-size: 16px;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 10px;
      margin-bottom: 10px;
    }
  }
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  button[type='submit'] {
    background-color: #4caf50;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button[type='submit']:hover {
    background-color: #3e8e41;
  }
  a {
    background-color: #db3131;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    &:hover {
      background-color: #bb2525;
    }
  }
}
